{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="border border-light p-3 mb-4">
<div class="d-flex align-items-center justify-content-center">
 <form method="post" >
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button type="submit" class="btn btn-primary mb-3">Login</button>
    <p class="text-muted mb-0"><span class="text-primary">** </span>use <span class="text-primary">'moksh_jayanth'</span> and <br> <span class="text-primary">'projectpassword'</span> as sample<br> credentials.</p>
  </form>
</div>

</div> 

{% endblock content %}