{% load static %}
 
 <!-- Footer-->
    <footer class="pt-5">
      <div class="container text-center py-5">
        <div class="row px-4">
          <div class="col-lg-7 mx-auto">
            <h2 class="text-uppercase mb-0">Dream Resume</h2>
            <h6 class="text-primary text-uppercase mb-0 letter-spacing-3">Built With ♥ Django </h6>
            <br>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="https://github.com/mokshjayanth"><i class="fab fa-brands fa-github"></i></a></li> 
              <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights px-4">
        <div class="container py-4 border-top text-center">
          <p class="mb-0 text-muted py-2">&copy; All rights reserved ® </p>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">